extends /pages/custom/notifications.pug

block further
  +status(53, 'Come and visit us at headshelf.com - Guaranteed best social media website there is; we only sell *half* of your personal data!', 'headshelf', 'April 19th')
  +status(23, 'We\'re in the process of suing ColdDrinkRed over name infringement. Wish us luck!', 'colddrinkblue', 'March 24th')
  +status(27, 'Come and drink our delicious beverages, they\'re better tasting than those of ColdDrinkBlue!', 'colddrinkred', 'March 23rd')
  +status(43, 'Come and drink our delicious beverages, all in a natural blue color!', 'colddrinkblue', 'January 11th')
