extends /includes/template.pug

block content
  +profile('colddrinkred', 17)
    +articles
    +statuses
      +status(27, 'Come and drink our delicious beverages, they\'re better tasting than those of ColdDrinkBlue!', 'colddrinkred', 'March 23rd')