extends /includes/messages.pug

block messages
  +firstmessage("Your article is dumb.", "deathtopeepee", "January 19th")
  +message("Your face is dumb.", "deathtoproduction", "January 19th")
  +message("Banning social media at work is dumb.", "deathtopeepee", "January 19th")
  +message("slackersayswhat", "deathtoproduction", "January 19th")
