extends /includes/messages.pug

block messages
  +firstmessage("Yooo did you see that woman I just murdered?.", "deathtopeepee", "April 20th")
  +message("oh yeah it was all over my feed!! that was you lol ?", "notcelibate", "April 20th")
  +message("Yeah I'm like the best assassin there is hehe.", "deathtopeepee", "April 20th")
  +message("duude you gotta teach me that stuff", "notcelibate", "April 20th")
  +message("Honestly if you just pick up some poison it's suuuper easy.", "deathtopeepee", "April 20th")
  +message("wanna hang later?", "notcelibate", "April 20th")
  +message("Totally.", "deathtopeepee", "April 20th")
  hr.mt-4.border-gray-300
  +message("heyo dude, wanna hang later?", "notcelibate", "April 24th")
  +message("Hell yeah! I suspect we need to change social media platform though\nz has put some restrictions up, the site will go down soon probz", "deathtopeepee", "April 24th")
  +message("oh yeah I saw that, weird...\nthat 'z' guy is pretty mysterious", "notcelibate", "April 24th")
  +message("Anyway, over on headshelf my account name is mrsuperassassin", "deathtopeepee", "April 24th")
