extends /includes/privatelist.pug

block messages
  +firstmessage('marcels-diner', 'headshelf', 'April 23rd')
  +message('marcels-diner', 'z', 'April 22nd')
  +message('marcels-diner', 'jane-doe', 'April 21st')
