extends /includes/messages.pug

block messages
  +firstmessage("Hey, I noticed you started following me :) how are you?", "supraman", "April 20th")
  +message("Shut up.", "verysus", "April 20th")
  +message(":(", "supraman", "April 20th")
