extends /pages/custom/notifications.pug

block further
  +status(53, 'Come and visit us at headshelf.com - Guaranteed best social media website there is; we only sell *half* of your personal data!', 'headshelf', 'April 19th')