extends /includes/messages.pug

block messages
  +firstmessage("Hello, we noticed that you’re a very popular user on this forum.", "headshelf", "April 19th")
  hr.mt-4.border-gray-300
  +message("We were wondering if you would like to move over to our social-media platform, headshelf.com.", "headshelf", "April 21st")
  hr.mt-4.border-gray-300
  +message("We know what you did, and if you don't move to headshelf.com, we will reveal it all to the public.", "headshelf", "April 23rd")
