extends /includes/messages.pug

block messages
  +firstmessage('I\'ve heard you have a meeting planned with Jane Doe. I\'ve also heard she will try to kill you at that meeting.\nIf you must meet her, I\'d recommend ordering the same food as her and switching the plates when she takes her usual toilet break.', 'headshelf', 'April 21st')
  +message('Thanks for letting me know! I\'ll be careful.' , 'z', 'April 21st')
