extends /includes/messages.pug

block messages
  p.italic Message deleted
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/headshelf` class='hover:underline').font-bold headshelf
    |  — 
    span.italic April 21st
  +message('Thanks for letting me know! I\'ll be careful.' , 'z', 'April 21st')
