extends /includes/messages.pug

block messages
  +firstmessage('I\'ve heard you have a meeting planned with someone. I\'ve also heard they will try to kill you at that meeting.\nIf you must meet them, I\'d recommend ordering the same food as them and switching the plates when they takes their usual toilet break.', 'headshelf', 'April 21st')
  +message('Thanks for letting me know! I\'ll be careful.' , 'z', 'April 21st')
