extends /includes/messages.pug

block messages
  +firstmessage("Does the menu have gluten-free items?", "pp-jane-doe", "April 21st")
  +message("Yes.", "marcels-diner", "April 21st")
  +message("Thank you. Get back to work now.", "pp-jane-doe", "April 21st")
