extends /includes/template.pug

block content
  +profile('cappinkanga', 0)
    +articles
      +articlepreview('CO-CREATOR BREAKS THE FOURTH WALL, CONFUSES AUDIENCE', 'cappinkanga', 'April 26th')
    +statuses
      +status(0, 'Looking forward to summer :]', 'cappinkanga', 'April 26th')
