extends /includes/template.pug

block content
  +profile('marcels-diner', 23)
    +articles
    +statuses
      +status(13, 'Now offering an exclusive ‘Jane Doe’ Meal. For a mere $10.99 you can order the fastest fast-food money can buy. We hope that in this small way we can remember her relentless efficiency.', 'marcels-diner', 'April 24th')
      +status(27, 'No, we were not involved in the passing of Jane Doe.', 'marcels-diner', 'April 22nd')