extends /includes/template.pug

block content
  +profile('industry-daily', 67)
    +articles
      +articlepreview('Foul Play Suspected in Senator Death', 'industry-daily', 'April 24th')
      +articlepreview('Senator Found Dead', 'industry-daily', 'April 22nd')
    +statuses
      +status(182, 'The Industry Daily, for all your trustworthy news!', 'industry-daily', 'Februari 29th')