extends /includes/messages.pug

block messages
  +firstmessage("Hey, wanna slide over and make ColdDrinkPurple? ;P ", "colddrinkred", "March 23rd")
  +message("I am suing you.", "colddrinkblue", "March 23rd")
