extends /includes/template.pug

block content
  +profile('chuck-mackerel', 13)
    +articles
    +statuses
      +status(4, 'Chuck Mackerel, CEO and creator of headshelf.com: the best social media site there is!', 'chuck-mackerel', 'April 19th')
