extends /includes/template.pug

block content
  +article('Case Closed', 'industry-daily', 'Today', 'This article was sponsored by the Party for Production.')
    p chuck mackerel has been arrested
    p blablabla
    p you win
