extends /includes/template.pug

block content
  +article('Chuck Mackerel Found Guilty', 'industry-daily', 'Today', 'This article was sponsored by the Party for Production.')
    p Head of Headshelf Chuck Mackerel has been found guilty on all charges, for the death of beloved Senator Jane Doe. After the trial, Drake Martin commented: “despite what a handful of terminally online people would have you believe, this wonderful woman was the very opposite of ‘notorious’. She was, in fact, very orious.”
    p However, Mr Mackerel is not the only person facing justice. Recently leaked DMs between Mackerel and the ColdDrinkPurple Corporation, questions have arisen over whether Mackerel is in fact only a red herring. After facing the heat of an official inquiry, ColdDrinkPurple has also been liquidized.
    p Zachariah Balthazar, owner of Faucet News, was also arrested, but was found innocent under grounds of self-defense.
