extends /includes/template.pug

block content
  +article('Murderer Still at Large', 'industry-daily', 'Today', 'This article was sponsored by z himself.')
    p The culprit behind the death of beloved Senator Jane Doe has still evaded justice. 
    p On the one-month anniversary of the Senator’s death, Drake Martin commented: “wherever she is now, I’m sure she’s reaching her set weekly goals.”
