extends /includes/notifications.pug

block notifications
  block further
  +status(72, 'Marcel\'s Diner has got to be the best diner in the district! I had a lovely time eating there.', 'z', 'Janurary 3rd')
  +status(163, 'Website launched!', 'z', 'Demember 1st 2020')
