extends /includes/template.pug

block content
  +article('Case Closed', 'industry-daily', 'Today', 'This article was sponsored by That Assassin Game.')
    p peepee has been arrested
    p blablabla
    p you lose
