extends /includes/template.pug

block content
  +article('Internet Loser Found Innocent', 'industry-daily', 'Today', 'This article was sponsored by That Assassin Game.')
    p Online odd ball Gerty Simmons, who goes by the alias ‘deathtopeepee’, has been found innocent – to the dismay of many. Simmons was arrested for the murder of cherished, precious, Senator Jane Doe a few weeks earlier. The Hekler Police Department’s case was immediately pulled apart, as their evidence solely relied on leaked DMs between ‘deathtopeepee’ and another user by the name of ‘notcelibate’. These DMs, which were believed at first to be a confession, were in fact referencing a videogame. 
    p When asked for a comment, Mr Notcelibate stated that they were “too busy with stuff”.
