extends /includes/template.pug

block header
  .w-full.bg-green-600.text-white.p-4.flex
    .flex-initial
      h1.font-bold.text-4xl
        a(href="/") Faucet News
      p News by Industry Daily
    .flex-initial
      include /includes/faucet.svg
block content
  +article('The Mysterious z Arrested', 'industry-daily', 'Today', 'This article was sponsored by Headshelf.')
    p Zachariah Alexxvi Balthazar, 38, has been arrested for the death of beloved and respected Senator Jane Doe. The ex-owner of online forum ‘Faucet’ has been sentenced to twenty-six years in Hekler’s minimum security prison, ‘Upland Wastes’. In a statement after the trial, Z stated: “this is not justice; the police department, the press, you all refuse to look at the bigger picture. What a terrible ending for us all.”
    p FACT CHECK: As all rights to Faucet have been legally transferred to Industry Daily, we find the statement ‘terrible ending for us all’ to be entirely false.
block footer
  .w-full.bg-green-600.text-white.absolute.bottom-0
    p.text-center.p-1 Copyright © Industry Daily 2020-2021
