extends /includes/privatelist.pug

block messages
  +firstmessage('killjoy', 'pm-me-dogs', 'April 22nd')
  +message('killjoy', 'notcelibate', 'April 22nd')
  +message('killjoy', 'killjoy', 'April 2nd')
