extends /includes/messages.pug

block messages
  +firstmessage("hey, I noticed you started following me :]", "killjoy", "April 2nd")
  +message("hey, I noticed you started following me :]", "killjoy", "April 2nd")
  +message("oh :[", "killjoy", "April 2nd")
  +message("oh :[", "killjoy", "April 2nd")
