extends /includes/template.pug

block content
  article.p-4.bg-white 
    h2.font-bold.text-xl Feed temporarily removed
    p Hey all, due to some financial troubles I can't afford a dynamic website anymore. So atm logging in and posting stuff is disabled, as well as the usual feed here on the homepage. I hope to have this fixed asap!