extends /includes/template.pug

block content
  article.p-4.bg-white 
    h2.font-bold.text-xl Login Required
    p The content you were about to access requires you to be logged in. However, this functionality is temporarily removed.
    p Terribly sorry for the inconvenience.