extends /includes/template.pug

block content
  +article('Announcing New Policy', 'pp-jane-doe', 'April 17th', 'You\'re now allowed a 10-second standing ovation.')
    p I have listened to my constituents, and plan to target this inactivity crisis head-on. Numerous decent, good-natured, people have come to me complaining of the threat that is laziness. With this speech, I declare war on laziness. In our first metaphorical battle against this very literal monster, we will begin banning the use of social media in the workplace. Remember, every minute spent scrolling is a minute not spent succeeding! Now, I have work to do.
  +comment(14, "Screw off, you peepee-head!", 'deathtopeepee')
  .ml-16
    +comment(2, "What does peepee mean?", 'pp-jane-doe')
    +comment(0, "Respond now.", 'pp-jane-doe')
    +comment(0, "I do not have time for these comments.", 'pp-jane-doe')
  +comment(2, 'help me get to 10 followers pleaseee', 'pm-me-dogs')
  .ml-16
    +comment(0, "This comment is not relevant to the article. Please delete it immediately.", 'pp-jane-doe')
  +comment(0, "I love you Jane Doe!", 'deathtoproduction')
