extends /includes/template.pug

block content
  +article('CO-CREATOR BREAKS THE FOURTH WALL, CONFUSES AUDIENCE', 'cappinkanga', 'April 26th')
    p Co-creator cappinkanga broke the fourth wall earlier today, to much confusion. One user, maximusmondelius commented: “Isn’t this a bit self-serving?” While another, more favourable review from mennosaurus007 described it as “a bit fun.”
    p But questions have arisen; will cappinkanga do this again?
    p No
