extends /includes/template.pug

block content
  +article('Foul Play Suspected in Senator Death', 'industry-daily', 'April 24th', 'This article was sponsored by ColdDrinkRed.')
    p Questions have arisen over the case of Senator Jane Doe. An autopsy report has been published by Hekler Police Department, stating “the possibility of foul play cannot yet be omitted.” The report also mentions lethal amounts of poison found in the Senator’s bloodstream.
    p This specific poison slowly works its way down the digestive tract, killing the person once it reaches the intestinces.
    p “It would have been very quick and peaceful,” Head HPD Mortician – Stanley Hedgelord – stated in an interview, “she dies as she lived; efficiently.”
  +comment(29, "Called it!", 'supraman')
  .ml-16
    +comment(3, "Let's not celebrate the death of a beloved senator...", 'verysus')
    .ml-16
      +comment(1, "Can you stop following me?", 'supraman')
    +comment(0, 'wait what did you call', 'killjoy')
  +comment(2, 'Since the investigation\'s wrapped up at the restaurant, we\'re open again! Come and eat at Marcel\'s Diner, where the murder of Jane Doe took place!', 'marcels-diner')
  .ml-16
    +comment(11, "for a diner this comment is pretty distasteful", 'notcelibate')
    +comment(0, 'Will the booth where she sat be open?', 'deathtopeepee')
    .ml-16
      +comment(0, 'Sure is!', 'marcels-diner')
