extends /includes/template.pug

block content
  +article('Leaky Faucet', 'null', 'April 26th')
    p I don't know how long this post will stay up, so I'll have to be quick. Faucet News just restricted the access people have to write articles, so I had to hack into the web host to put this article up. Apparently this site isn't very secure, haha, some admin pages are available to everyone if you know the correct URL.
    p.mt-4.mb-4 Anyway, a senator by the name of Jane Doe was murdered last week, and at the same time a lot of people started showing up on this small website. I'm not sure how you all got here, but I need your help. Jane Doe wasn't that well-liked, but a murder is a murder and we need to figure out who did it. The police are at a loss.
    p This is where you all come in. I suspect this website has all the information you need to figure this all out. We need to know two things:
    p 1. Who did it?
    p 2. How did they do it?
    p 3. Where are they currently?
  +comment(0, "Oh so that's what all the activity lately is about! I don't really know much about the murder though, sorry.", 'supraman')
  +comment(0, "i think the business-daily account had some articles on the murder", 'killjoy')
  +comment(0, "Ah, so this is why I couldn't post an article of my own about the tragic passing of Jane Doe!", 'marcels-diner')
