extends /includes/template.pug

block content
  +article('Senator Found Dead', 'industry-daily', 'April 22nd', 'This article was sponsored by ColdDrinkBlue.')
    p A rising star in the Party for Productivity, Jane Doe was discovered dead by the owner of Marcel’s Diner. “I came in to work early,” Marcel Williams told us, “and found her just sitting in a booth. I asked her to leave for a few minutes, poked her a couple times, and then I realised she was dead.”
    p Drake Martin, leader of the party, has released a statement: “Today is a day of mourning. This couldn’t have happened to a more productive person. She will surely be missed.”
    p No more details are known at this time.
  +comment(37, "I wouldn't call her a 'rising star' per se, but it's still very tragic. This has to be murder, right?", 'supraman')
  .ml-16
    +comment(2, "maybe she just fell asleep EDIT: nvm im dumb", 'killjoy')
  +comment(26, "wait, who's this?", 'pm-me-dogs')
  +comment(16, "i've heard the food at marcel's diner is pretty bad :/", 'notcelibate')
  .ml-16
    +comment(1, "that makes me sad", 'marcels-diner')
  +comment(3, "Did a politician just got murdered? This better not become the norm! It's very typical of the opposition to just murder a member of the administration like this.", 'verysus')
  .ml-16
    +comment(7, "wait why do you think the opposition did this ???", 'killjoy')
  .ml-32
    +comment(1, "Well the opposition hates the peepee party, don't they!", 'verysus')
  +comment(0, 'Good riddance! I can finally be as lazy as I want again.', 'deathtopeepee')