extends /includes/privatelist.pug

block messages
  +firstmessage('pm-me-dogs', 'killjoy', 'April 22nd')
  +firstmessage('pm-me-dogs', 'supraman', 'April 3rd')
  +firstmessage('pm-me-dogs', 'notcelibate', 'March 7th')
