extends /includes/messages.pug

block messages
  +image("/dogs/killjoy.jpeg", "killjoy", "April 22nd")
  +message("Oh I love them!", "pm-me-dogs", "April 22nd")
  +message("thanks ^^", "killjoy", "April 22nd")
