extends /includes/template.pug

block content
  +profile('deathtoproduction', 0)
    +articles
      +articlepreview('How to Overcome the Death to Production', 'deathtoproduction', 'December 24th 2020')
    +statuses
