extends /pages/custom/notifications.pug

block further
  +status(0, 'I will be meeting with \'z\' later, to discuss and explain a new policy. We will also share dinner during this time, to maximise work hours.', 'jane-doe', 'April 21st')
  +status(0, 'I have spent five hours today producing and signing paperwork.', 'jane-doe', 'April 20th')
  +status(0, 'I have spent twenty-five minutes on a lunch break, while listening to a podcast on success.', 'jane-doe', 'April 19th')
  +status(0, 'I have spent three hours and fifty-eight minutes researching and producing data.', 'jane-doe', 'April 18th')
  +status(0, 'I have spent two minutes writing this status.', 'jane-doe', 'April 17th')
  +status(0, 'I have spent one hour writing an article and responding to spam comments.', 'jane-doe', 'April 17th')
  +articlepreview('Announcing New Policy', 'jane-doe', 'April 17th')
