extends /includes/template.pug

block content
  +profile('colddrinkblue', 27)
    +articles
    +statuses
      +status(23, 'We\'re in the process of suing ColdDrinkRed over name infringement. Wish us luck!', 'colddrinkblue', 'March 24th')
      +status(43, 'Come and drink our delicious beverages, all in a natural blue color!', 'colddrinkblue', 'January 11th')