extends /includes/messages.pug

block messages
  +firstmessage("Hello, we were wondering if you had a comment on the recent product ColdDrinkRed?", "industry-daily", "March 20th")
  +message("ColdDrinkWhat?", "colddrinkblue", "March 20th")
