extends /includes/privatelist.pug

block messages
  +firstmessage('notcelibate', 'deathtopeepee', 'April 24th')
  +message('notcelibate', 'killjoy', 'April 22nd')
  +message('notcelibate', 'pm-me-dogs', 'March 7th')
