extends /includes/template.pug

block content
  +profile('z', 281)
    +articles
    +statuses
      +status(72, 'Marcel\'s Diner has got to be the best diner in the district! I had a lovely time eating there. Maybe I should recommend them this website...', 'z', 'January 3rd')
      +status(163, 'Website launched!', 'z', 'Demember 1st 2020')
