extends /includes/template.pug

block content
  +profile('mennosaurus007', 0)
    +articles
    +statuses
      +status(0, 'Anxiously waiting for the meteorite, need to be back for the big assasination.', 'mennosaurus007', '66,000,000 BCE')
