extends /includes/messages.pug

block messages
  +firstmessage("Do you do poison?", "chuck-mackerel", "April 19th")
  +message("Yes sir!", "colddrinkpurple", "April 19th")
  +message("What sort?", "chuck-mackerel", "April 19th")
  +message("It's called 'Rat Killer'; it's just a powder.", "colddrinkpurple", "April 19th")
  +message("What's it made of? What's it do? Why do they die?\nI mean, could it kill a pet?\nQuite a large pet?\nA sort of almost person-sized pet?", "chuck-mackerel", "April 19th")
  +message("I beg your pardon?", "colddrinkpurple", "April 19th")
  +message("Safety! I'm just thinking of safety.\nI mean what would it do to say a 50-year-old woman?\nWould it dissolve her stumach and make her lungs bleed until she drowns?", "chuck-mackerel", "April 19th")
  +message("In large enough quantities, yes.", "colddrinkpurple", "April 19th")
  +message("Could it be detected in a casserol?", "chuck-mackerel", "April 19th")
  +message("I don't know.", "colddrinkpurple", "April 19th")
  +message("What would it do to the face? Would it be hidiously contorted?", "chuck-mackerel", "April 19th")
  +message("Excuse me, but what are you planning to use this for?", "colddrinkpurple", "April 19th")
  +message("I am speaking to an underground poison market meant for assassinations, aren't I?", "chuck-mackerel", "April 19th")
  +message("Oh you're quite right.", "colddrinkpurple", "April 19th")
