extends /includes/messages.pug

block messages
  +firstmessage("Would you be interested in a chance to assassinate z?", "chuck-mackerel", "April 19th")
  +message("Who is 'z'? This better be important.", "pp-jane-doe", "April 19th")
  +message("z is the owner of this website. Killing him would remove your loudest opponent in the political game: this website.", "chuck-mackerel", "April 19th")
  +message("That does sound interesting. Give me your plan.", "pp-jane-doe", "April 19th")
  +message("Plan a meeting with him on the 21st in Marcel's Diner. I will pull some strings behind the scenes so his food is poisoned. You don't have to do a thing.", "chuck-mackerel", "April 19th")
  +message("That sounds very efficient. Deal!", "pp-jane-doe", "April 19th")
