extends /includes/messages.pug

block messages
  +firstmessage("Hello. I would like to propose an exchange.", "pp-jane-doe", "April 16th")
  +message("What is this exchange?", "chuck-mackerel", "April 16th")
  +message("Tomorrow, I will introduce a new policy that bans the use of social media in the workplace.\nIf you want me to drop support for this policy, you must help me dispose of 'z'.", "pp-jane-doe", "April 16th")
  +message("That is cruel.", "chuck-mackerel", "April 16th")
  +message("It's efficient. Deal?", "pp-jane-doe", "April 16th")
  +message("If I must.", "chuck-mackerel", "April 16th")
  +message("Come up with a plan and tell me it tomorrow.", "pp-jane-doe", "April 16th")
  hr.mt-4.border-gray-300
  +message("On the 21st, you will have a meeting with z in Marcel's Diner.\nI will be in the kitchen and poison his food.", "chuck-mackerel", "April 17th")
  +message("Sounds like a plan.", "pp-jane-doe", "April 17th")
