extends /includes/template.pug

block content
  +profile('deathtopeepee', 7)
    +articles
    +statuses
      +status(4, 'Apparently someone poisoned her. Did marcels-diner do it?', 'deathtopeepee', 'April 23rd')
      +status(1, 'Oop, Jane Doe just died. What ever will we doe?', 'deathtopeepee', 'April 22nd')
      +status(3, 'Woot, 2 month anniversary of this account; also: screw Jane Doe.', 'deathtopeepee', 'March 19th')
      +status(16, 'Feeling lazy today. Suck it, Jane Doe!', 'deathtopeepee', 'February 14th')
      +status(9, 'Okay so the peepee party is very shady. Case in point: Jane Doe. I dunno who put her on the team, but ever since she joined a lot of companies are out of business due to giant monopolies like Headshelf and Federal Imports.', 'deathtopeepee', 'February 7th')
      +status(3, 'lol I forgot I made this account', 'deathtopeepee', 'February 7th')
      +status(4, 'Apparently \'deathtoproduction\' was already taken, so I chose this name instead. They\'re basically pee-heads anyway.', 'deathtopeepee', 'January 19th')