extends /includes/messages.pug

block messages
  +firstmessage("Hello, I hope you don't mind me asking, but I would like to inquire about your business.", "z", "April 21st")
  +message("Hey there, of course we don't! It is an honor to be asked something by z himself.", "marcels-diner", "April 21st")
  +message("What did you want to ask?", "marcels-diner", "April 21st")
  +message("Why thank you, I was simply wondering if you had any gluten-free meals at your restaurant?", "z", "April 21st")
  +message("Oh, we have water.", "marcels-diner", "April 21st")
  +message("...", "z", "April 21st")
  +message("And ice cubes.", "marcels-diner", "April 21st")
  hr.mt-4.border-gray-300
  +message("Things went quite unexpected yesterday.", "z", "April 22nd")
  +message("Well I can see that!", "marcels-diner", "April 22nd")
  +message("Don't tell them I was there.", "z", "April 22nd")
